html {
    min-height: 100vh;
    background: linear-gradient(#000, #009);
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

a {
    color: #fff;
}

main {
    background-color: #222;
    padding: .5em 1em;
    border-radius: .5em;
}

main, header {
    max-width: 60ch;
    margin: auto;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    background-color: inherit;
    color: white;
    border: white 1px solid;
    border-radius: 0.5em;
}